main {
  color: rgb(16, 93, 235);
  background-color: rgb(239, 227, 240);
  padding-left: 10px;
  height: 530px;
  margin-top: 0px;
}

#mainHeader {
  margin-top: 0px;
}

img {
  width: 400px;
  height: 200px;
  margin-left: 30%;
}

img:hover {
  transform: scale(1.1);
  transition: linear;
}

.red {
  color: red;
  font-size: 25px;
}