main {
  color: rgb(16, 93, 235);
  background-color: rgb(239, 227, 240);
  padding-left: 10px;
  height: max-content;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.row {
  gap: 20px;
  justify-content: center;
}

.descriptionText {
  text-align: center;
}

.container-fluid {
  width: 400px;
}

img {
  width: 400px;
  height: 200px;
}

.footerElements {
  text-align: center;
}


/* img:hover {
  transform: scale(1.1);
  transition: linear;
} */

.red {
  color: red;
  font-size: 25px;
}

footer {
  text-transform: capitalize;
}